body {
	background-color: #efefef;
}
#top-bar {
	height: 30px;
	line-height: 30px;
	background-color: #000000;
}
.phone-mid {
	width: 800px;
}
.phone-top {
	padding-left:10px;
	display: inline-block;
}
.phone-number-info {
	color: #e5e5e5;
}
.phone-number {
	color: #7ed9fa;
}
.f-item a {
	color: #eeeeee;
}
.f-item .badge {
	background-color: #f48635;
}
.navbar-northcyprus {
	background-color: #57a1dd;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
 	border-radius: 0px;
}
.navbar {
	min-height: 90px;
	color: white;
	margin-bottom: 0;
}
.navbar-brand {
	padding: 0 15px; height: 90px; line-height: 90px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 90px;
    color: white;
    font-weight: bold;
}
.navbar-nav > li.active:not(:hover), .navbar-nav > li > a:hover {
	background-color: transparent;
	border-bottom: 2px solid white;
}
.btn-res > a {
	border: 2px solid white;
	border-radius: 40px;
}
.btn-reservation > a {
	line-height: 40px;
    margin-top: 25px;
}
 .navbar-nav > li > a:hover {
    color: white;
    background-color: none;
}
.search {
	height: 527px;
	background-color: #57a1dd;
	background-image: url("../img/background1.jpg");
}
.search h2 {
	width: 250px;
	color: white;
}
.search-box {
	width: 726px;
	height: 280px;
	background-color: white;
	margin-top: 30px;
	box-shadow: 0px 0px 0px 24px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0px 0px 0px 24px rgba(119, 119, 119, 0.3);
    -webkit-box-shadow: 0px 0px 0px 24px rgba(119, 119, 119, 0.3);
}
.full-width-tabs > ul.nav.nav-tabs, .full-width-tabs > ul.nav.nav-pills {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.full-width-tabs > ul.nav.nav-tabs > li, .full-width-tabs > ul.nav.nav-pills > li {
    float: none;
    display: table-cell;
}
.full-width-tabs > ul.nav.nav-tabs > li > a, .full-width-tabs > ul.nav.nav-pills	 > li > a {
    text-align: center;
}
.nav-tabs {
	border: 0;
	height: 40px;
}
.nav-tabs > li {
	width: 100%;
}
.nav-tabs > li > a {
	border: 0;
	background-color: #f1f1f1;
	color: #7ea4c1;
	border-radius: 0;
	font-weight: bold;
	margin-right: 0;
	line-height: 40px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active >a:focus, .nav-tabs > li.active > a:hover {
    color: #3170a1;
    border: 0; 
    font-weight: bold;
}
.tab-content {
	padding-top: 30px;
	padding-left: 20px;
}
.content-box {
	background-color: #efefef;
	padding-top: 15px;
}
.thumbnail {
	padding: 0;
	border: 0;
}
.caption > p {
	font-size: 18px;
	font-weight: bold;
}
.caption > p > a, .caption > p > a:hover, .caption > p > a:focus {
	color: #8ed72b;
	font-weight: bold;
}
.price {
	font-size: 22px;
}
.currency {
	font-size: 14px;
}
.p-c {
	padding-bottom: 6px;
	border-bottom: 4px solid #00a1e3;
}
.nav-pills > li {
	font-size: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #3170a1;
	font-weight: bold;
	background-color: transparent;
}
.show-more {
	background-color: #00a1e3;
	border-radius: 2px;
	border: 0;
	color: white;
}
.btn-blue {
	background-color: #00a1e3;
	height: 46px;
	font-size: 18px;
	width: 100%;
}
.content-villa .tab-content{
	padding-left: 0;
}
.dream {
	margin-top: 20px;
}
.search-form > .form-group {
	width: 600px;
	margin-bottom: 0;
}
.input-new, .input-new:focus {
	border-radius: 0px;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom: 3px solid #00a1e3;
	box-shadow:none;
	font-weight: bold;
}
.form-group-label {
	margin-bottom: 0;
	color: #b2b2b2;
}
.btn-search {
	background-color: #00a1e3;
	border: 0;
	border-radius: 20px;
	color: white;
	font-weight: bold;
}
.input-info {
	margin-top: 15px;
}